span {
    display: table-cell;
    font-style: italic;
    height: 700px;
    color: white;
    background-color: white;
    border: 1px solid black;
}

span:hover {
    color: black;
    background-color: white;
    border: 1px solid blue;
}

.h1 {
    background-color: red;
}

.h2 {
    background-color: yellow;
}

.h3 {
    background-color: blue;
}

.h4 {
    background-color: green;
}

.h5 {
    background-color: purple;
}

.h6 {
    background-color: brown;
}